.projects-section {
	padding: 100px 0;
	width: 100%;
}

.projects-title {
	text-align: center;
	font-size: 36px;
	margin-bottom: 40px;
	font-weight: 700;
	color: var(--text-color);
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

.projects-grid p {
	margin: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.project-desc {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4;
	max-height: calc(1.4em * 5);
	hyphens: auto;
	word-break: break-word;
	text-align: justify;
}

.project-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
	padding: 5px;
	text-decoration: none;
	color: var(--text-color);
	transition: 0.3s;
	position: relative;
	height: 250px;
	overflow: hidden;
}

.project-name {
	font-size: 20px;
	font-weight: 700;
}

.project-type {
	font-size: 13px;
	opacity: 0.7;
}

.project-desc {
	font-size: 15px;
	opacity: 0.8;
	line-height: 1.4;
	flex-grow: 1;
	overflow: hidden;
}

.project-github {
	margin-top: 10px;
	font-size: 14px;
	opacity: 0.8;
	transition: 0.3s;
	display: inline-flex;
	align-items: center;
	gap: 6px;
	justify-content: center;
}

.project-card:hover .project-github {
	opacity: 1;
}

.project-card:hover {
	transform: translateY(-5px);
}

.project-card:hover::after {
	opacity: 0.6;
}

.github-icon {
	font-size: 25px;
}

@media (max-width: 560px) {
	.projects-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 300px) {
	.projects-grid .tilt-card {
		padding: 0;
	}
}